
html {
background-image: url('../img/bg-pattern-1.png');
}

#maincontent {
margin-left: auto;
margin-right: auto;
width: 400px;
background-color: #ffffff;
padding: 30px 0 0 0;
border: 1px solid #dedede;
line-height: 10px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}


#panelLogin,
#panelSignup {
padding-top: 5px;
padding: 0 40px 0 40px;
}

#maincontent h1 {
margin-bottom: 25px;
margin-top: 0;
padding: 0 40px 0 40px;
text-align: left;
font-size: 24px;
font-weight: normal;
}

#maincontent h2 {
font-size: 14px;
font-weight: normal;
padding-bottom: 15px;
color: #777;
margin-bottom: 5px;
}

#maincontent label {
font-size: 13px;
line-height: 13px;
padding-bottom: 0px;
color: #333333;
display: block;
}

#maincontent input[type=text],
#maincontent input[type=password] {
margin: 0px;
padding: 5px;
font-size: 20px;
width: 285px;
margin-bottom: 10px;
}

#maincontent .wrapSignupForm {
padding: 30px 40px;
border-top: 1px solid #ededed;
}

#maincontent .wrapSignupForm h2 {
font-weight: bold;
font-size: 16px;
color: black;
}

#maincontent input[type=text] {
margin-bottom: 5px;
}

#maincontent input[type=password] {
margin-bottom: 15px;
}

#maincontent input[type=submit] {
font-size: 14px;
}

#maincontent .error {
border-top: 1px solid #ddd;
background-color: #f8f8f8;
padding: 10px 15px 10px 15px;
font-size: 14px;
line-height: 18px;
color: #333;
}

#maincontent .social {
border-top: 1px solid #ededed;
padding-top: 30px;
margin-top: 30px;
padding: 30px 0px 30px 40px;
}

#maincontent .social .actionButton {
float: left;
margin-right: 15px;
line-height: 18px;
padding: 7px 10px 6px 10px;
}

#maincontent .social .actionButton img {
vertical-align: middle;
margin-bottom: 2px;
margin-right: 7px;
display: inline;
}

#maincontent .resetPassword {
border-top: 1px solid #dedede;
font-size: 11px;
color: #999999;
background-color: #f8f8f8;
margin-top: 5px;
padding: 15px 30px 15px 40px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
-webkit-border-bottom-left-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
}

#maincontent .resetPassword a {
color: #999999;
}

#maincontent .resetPassword a:hover {
color: #000000;
text-decoration: underline;
}

/*
Uploadify
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
Released under the MIT License <http://www.opensource.org/licenses/mit-license.php>
*/

.uploadify {
    position: relative;
    margin-bottom: 1em;
}
.uploadify-button {
    background-color: #505050;
    background-image: linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -o-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -moz-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -ms-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #505050),
        color-stop(1, #707070)
    );
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 2px solid #808080;
    color: #FFF;
    font: bold 12px Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    width: 100%;
}
.uploadify:hover .uploadify-button {
    background-color: #606060;
    background-image: linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #606060),
        color-stop(1, #808080)
    );
    background-position: center bottom;
}
.uploadify-button.disabled {
    background-color: #D0D0D0;
    color: #808080;
}
.uploadify-queue {
    margin-bottom: 1em;
}
.uploadify-queue-item {
    background-color: #F5F5F5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font: 11px Verdana, Geneva, sans-serif;
    margin-top: 5px;
    max-width: 350px;
    padding: 10px;
}
.uploadify-error {
    background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
    background: url('../img/uploadify-cancel.png') 0 0 no-repeat;
    float: right;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
.uploadify-queue-item.completed {
    background-color: #E5E5E5;
}
.uploadify-progress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
}
.uploadify-progress-bar {
    background-color: #0099FF;
    height: 3px;
    width: 1px;
}


.wrapSignupForm .op{
    margin-top: 15px;
    text-align: left;
}

#referrer input[type=text]{
    width: 98%;
}

#updateDiv .preview{
    padding-top:0;
    margin-top: 0;
    border:0;
}

.wrapSignupForm .preview{
    margin: 20px 0;
    padding: 15px 0;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    text-align: center;
}

#publishNewBtn,
#updateBtn{
    display: inline-block;
    margin-top: 15px;
    height: 25px;
    line-height: 25px;
    width: 100px;
    text-align: center;
}

#maincontent #form_signup{
    width: 400px;
    margin: 0 auto;
}

#maincontent #form_signup input{
    width: 288px;
    margin-right: 0;
}

#maincontent #form_signup .signupButton{
    display: inline-block;
    margin-right: 0;
    width: 300px;
    line-height: 30px;
}

#maincontent #form_signup label{
    display: block;
    margin: 15px 0 5px;
    font-size: 14px;
}

#maincontent .signup-social {
    margin-top: 0;
}

#maincontent .social .weibo-login-div .weibo-login{
    display: inline-block;
    background: url(../img/sina.png) no-repeat 5px center;
    padding-left: 26px;
}

#maincontent .social .qq-login-div .qq-login{
    display: inline-block;
    background: url(../img/qq.png) no-repeat 5px center;
    padding-left: 26px;
}

#maincontent #referrer,
#maincontent #title,
#maincontent #url{
    font-size: 12px;
    color: #666;
    margin: 0;
    width: 610px;
}

#maincontent #url{
    display: inline-block;
    width: 520px;
    height: 16px;
    margin-top: 5px;
}

#maincontent .preview label{
    margin: 15px 0 5px;
}

.ajax-message{
    line-height: 16px;
    margin: 5px 0;
}

.ajax-message img,
.ajax-message span{
    vertical-align: middle;
}
.preview-small-container{
    display: none;
    margin-top: 15px;
}
#maincontent .preview-small-container label{
    display: block;
    margin: 10px 0 10px;
    padding: 10px 0 5px;
    border-bottom: 1px #ededed solid;
}
.preview-small{
    float: left;
    width: 80px;
    height: 80px;
    border: 4px #eee solid;
    margin-right: 5px;
    cursor: pointer;
    transition: .2s all;
}

.preview-small:hover{
    border: 4px #ccc solid;
}


#maincontent.settings label{
    margin: 15px 0 5px;
    font-size: 14px;
}

#maincontent.settings input{
    font-size: 16px;
    margin-left: 0;
}

.avatar-preview{
    margin-bottom: 15px;
}

#maincontent span.error{
    border: 0;
    background: none;
    line-height: 1;
    padding: 0;
    color: red;
}

.success{
    color: green;
}

.notification{
    margin: -15px 15px 15px;
}
.activity-detail,
.image-preview{
    margin: 10px 0;
}

#cat{margin-left: 0;}